## ==========================================
##          Visual Studio / .NET Core
## ==========================================
# Артефакти компіляції та білду
[Bb]in/
[Oo]bj/
# Офіційні папки кешу Visual Studio
.vs/
# Користувацькі локальні налаштування та теми
*.user
*.suo
*.userosscache
*.sln.docstates

## ==========================================
##          Rider / JetBrains & VS Code
## ==========================================
# Локальні папки IDE JetBrains Rider
.idea/
*.sln.iml
# Налаштування робочої області VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## ==========================================
##       Локальні дані нашого додатку
## ==========================================
# Ігноруємо динамічний файл бази даних замовлень, 
# щоб при комітах на GitHub у кожного розробника залишався свій стан каси
restaurant_data.json

## ==========================================
##                 OS Сміття
## ==========================================
# Windows системні файли
Thumbs.db
ehthumbs.db
Desktop.ini
# macOS системні файли
.DS_Store
.AppleDouble
.LSOverride